h1{
    color: deeppink;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: 13px;
    color: deeppink;
    font-family: 'Courier New', Courier, monospace;
}
.contenedor{
    border: 5px solid rgb(0, 183, 255);
    text-align: center; 
}