h1{
    color: ghostwhite;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: 13px;
    color: deeppink;
    font-family: 'Courier New', Courier, monospace;
}
.contenedor{
    border: 5px solid rgb(0, 183, 255);
    text-align: center; 
}
.cabecera{
    text-align: center;
    color: whitesmoke;
    background-color: darkblue;
    -webkit-box-shadow: -15px 7px 38px 0px rgba(0,0,0,0.73);
    -moz-box-shadow: -15px 7px 38px 0px rgba(0,0,0,0.73);
    box-shadow: -15px 7px 38px 0px rgba(0,0,0,0.73);
}
.cabecera p{
    color: white;
    font-size: 15px;
}